#card_previewer{
	display: none;
	height: 80px;
	justify-content: center;
	align-items: center;
	transform: translateY(100%);
	width: 100%;
	left: 0;
	background-color: var(--account_menu);
	position: fixed;
	z-index: 4;
	bottom: 0;
	transition: 0.4s;
}
#card_previewer > * {
	height: 50px;
	display: inline-block;
	margin: 15px;
	filter: drop-shadow(0 0 1px var(--contrast-mini));
	cursor: pointer;
	transition: 0.3s;
	user-select: none;
}
#card_previewer > *:hover {
	filter: drop-shadow(0 0 3px var(--contrast-mini));
}
#card_previewer > .close{
	height: 40px;
	fill: red;
}
#card_previewer> .close:hover{
	filter: drop-shadow(0 0 10px red);
}

#card_previewer_name{
	font-family: 'Balsamiq Sans';
	max-height: 100px;
	font-size: 30pt;
	color: var(--contrast-color);
	display: none;
	text-align: center;
	transform: translateY(350%);
	width: 100%;
	left: 0;
	background-color: var(--account_menu);
	position: fixed;
	z-index: 3;
	bottom: 80px;
	transition: 0.5s;
	filter: drop-shadow(0 -1px 5px var(--contrast-color));
}
#card_previewer_name div{
	margin: 0 5px;
}

#notifications > * > .Message-body > p{
	width: 100%;
}


.artist_image_wrapper{
	position: relative;
	display: inline-block;
	border-radius: 50%;
}
#artist_image{
	transition: 0.3s;
}
.artist_image_wrapper:hover .popup_image_camera{
	top: 53%;
	opacity: 1;
}
.artist_image_wrapper:hover #artist_image{
	filter: blur(6px);
}
.popup_image_camera{
	cursor: pointer;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 35%;
	transition: 0.25s ease-out;
	opacity: 0;
}

#empty{
	font-family: 'Balsamiq Sans';
	color: var(--contrast-color);
	text-align: center;
	display: none;
}
#extra_space{
	transition: 0.75s ease;
}
#new-release{
	text-decoration: none;
	font-size: 1.4em;
	display: inline-block;
	margin: 15px;
	color: var(--contrast-color);
	border: 2px solid var(--contrast-color);
	border-radius: 25px;
	padding: 5px 20px;
	transition: 0.3s;
	white-space: nowrap;
}
#new-release:hover{
	padding: 5px 40px;
}
#new-release img{
	height: 25px;
	vertical-align: top;
	margin-right: 15px;
}

#user-name{
	font-family: 'Balsamiq Sans';
	font-size: 30pt;
	margin: unset;
}
#user-name a{
	cursor: alias;
}

.logout{
	display: flex;
	align-items: center;
	justify-content: center;
}
.logout svg{
	margin-left: 8px;
	height: 28px;
	cursor: pointer;
	transition: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.logout svg:hover{
	fill: red;
}

.settings_element{

}
.content h2:first-child{
	margin-top: 5px;
}
.settings_element{
	font-size: 16px;
}

/* INPUTS */
.group *{
	box-sizing: border-box;
}
.group {
	position: relative;
	margin: 15px 0;
	font-family: sans-serif;
}
.center-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.group input, select {
	background: none;
	color: var(--contrast-color);
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 320px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid var(--contrast-color);
	outline: none;
}
.group input:-webkit-autofill {
  -webkit-text-fill-color: var(--contrast-color);
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 30px var(--details_content) inset !important;
}
.group select option {
	background: var(--notifications-back);
	color: var(--contrast-color);
}
.group input:focus {
	outline: none;
}
.group input:focus ~ label, .group input:not(:placeholder-shown) ~ label,
.group select:not([data-chosen='']) ~ label {
	top: -14px;
	font-size: 12px;
	color: #2196f3;
}
.group input:focus ~ .bar:before {
	transform: scale(1);
}
.group input[type=password] {
	letter-spacing: 0.3em;
}
.group input[required] ~ label:before {
	content: "* ";
	color: red;
}
.group label {
	color: var(--contrast-mini);
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 300ms ease all;
}
.toggle{
	color: var(--contrast-mini);
	float: right;
	margin-top: -25px;
	cursor: pointer;
}
.bar {
	position: relative;
	display: block;
	width: 320px;
}
.bar:before {
	content: "";
	height: 2px;
	width: 100%;
	bottom: 0;
	position: absolute;
	background: #2196f3;
	transition: 300ms ease all;
	left: 0%;
	transform: scale(0);
	transform-origin: center bottom;
}

/* Radio  */
.radio {
	background: inherit;
	padding: 6px;
	border-radius: 5px;
	display: inline-block;
}
.radio input {
	display: inline-block;
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	padding: 4px 12px;
	background: inherit;
	color: var(--contrast-color);
	font-size: inherit;
	font-family: sans-serif;
	transition: all 100ms linear;
	background-image: var(--button-gradient);
}
.radio input:checked {
	background-image: var(--button-gradient-green);
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}
.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

/* Button */
.button {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	border: 5em;
	cursor: pointer;
	outline: none;
	font-size: 18px;
	font-family: sans-serif;
	transform: translate(0);
	background-image: linear-gradient(45deg, #4568dc, #b06ab3);
	padding: 0.7em 2em;
	border-radius: 65px;
	user-select: none;
	box-shadow: 1px 1px 10px var(--shadow_lite);
	transition: box-shadow 0.25s, font-size 0.3s ease-out;
	color: var(--contrast-color);
}
.button:after {
	content: "";
	border-radius: 65px;
	position: absolute;
	margin: 4px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	transition: 0.1s;
	background: var(--body-color);
}
.button:hover {
	background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
	box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1) !important;
}
.button:active:after {
	margin: 0px;
}
